@import "shared";

* {
    outline: none;
}

body {
    font-family: "Roboto", sans-serif;
}

.logo-image {
    background: url('../images/chiron-transparent-logo.png') no-repeat;
    background-size: contain;
    display: inline-block;
    width: 140px;
    height: 56px;
}

.page-header {
    @include media-breakpoint-up(md) {
        margin-bottom: 2em;
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 1em;
    }
}


// utilities
.align-center {
    text-align: center;
}


.shadowed-box {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}


// text
.text-secondary-misc {
    color: lighten($gray-light, 20%);
    font-size: 12px;
    font-style: italic;
}

.text-secondary-block {
    background-color: lighten($gray-light, 50%);
    color: $gray-light;
    font-size: small;
    padding: 0.75em;
}

// pagination
.pagination-wrapper .pagination {
    justify-content: center;
}
