#login-panel {
    flex: 0 1 500px;
    padding: 1em 1.5em;
}

#branding-container {
    flex: 1 1 auto;
    background: url('../images/heroes/people-apple-iphone-writing.jpg') no-repeat;
    background-size: cover;
}

#login-header {
    margin: 2em 0 2.5em 0;
    text-align: center;
}

#login-help-links {
    margin-top: 4.5rem;
}
