@import "shared";

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    position: relative;
}

.bd-callout-help {
    font-size: 0.80em;
    right: 1rem;
    bottom: 0.25rem;
    position: absolute;
}

.bd-callout-warning {
    border-left-color: $brand-warning;
    .bd-callout-header {
        color: $brand-warning;
    }
}

.bd-callout-info {
    border-left-color: $brand-info;
    .bd-callout-header {
        color: $brand-info;
    }
}
