$s2-blue: #314362;
$s2-blue-1: #5777ae;
$s2-blue-2: #7dacfb;
$s2-gray: #636Chironb;
$s2-gray-lighter: #8c98ae;

// colors
$brand-primary:             $s2-blue;

// links
$link-color: $s2-blue-1;

//components
$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

// buttons
$btn-padding-x: 1.75rem;
//$btn-padding-y: 0.60rem;

// forms
