*.user
*.lock.json
*.suo
src/user.mk
*.log
src/config.json
src/build.json
tmp
bin
obj
logs
src/c6.admin.webapi/web.Debug.config
src/c6.admin.webapi/web.Release.config
src/swagger.json
src/c6.admin.webapi/wwwroot/index.html
src/c6.admin.webapi/wwwroot/main.css
src/c6.admin.webapi/wwwroot/main.css.map
src/c6.admin.webapi/wwwroot/version.html
src/node_modules
src/.vs
src/artifacts
src/config.json
src/*.lock.json
publish